.body{
    background-image: url(./shara\ desert.jpg);
    background-size: cover;
}
.logo{
    width: 100px;
    margin-left: 50px;
    margin-top: 30px;
}
.home{
    color: white;
    text-decoration: none;
    position: relative;
    left: 800px;
    bottom: 94px;
}
.region{
    color: white;
    text-decoration: none;
    position: relative;
    left: 900px;
    bottom: 112px;
}
.about{
    color: white;
    text-decoration: none;
    position: relative;
    left: 1000px;
    bottom: 130px;
}
.menu{
    position: relative;
    left: 1100px;
    bottom: 160px;
}
.sahara{
    font-size: 70px;
    font-weight: bold;
}
.main{
    color: white;
    margin-left: 50px;
}
.explore{
    width: 150px;
    padding: 5px;
    border: 0px;
    border-radius: 20px;
    margin-left: 50px;
}
.img1{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 700px;
    bottom: 300px;
}
.img1:hover{
    position: relative;
    bottom: 310px;
    transition-duration: 1s;
}
.img2{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 800px;
    bottom: 300px;
}
.img2:hover{
    position: relative;
    bottom: 310px;
    transition-duration: 1s;
}
.img3{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 390px;
    bottom: 100px;
}
.img3:hover{
    position: relative;
    bottom: 110px;
    transition-duration: 1s;
}
.img4{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 490px;
    bottom: 100px;
}
.img4:hover{
    position: relative;
    bottom: 110px;
    transition-duration: 1s;
}




@media screen and (min-width:360px) and (max-width:640px) {
    .body{
        background-image: url(./shara\ desert.jpg);
    }
    .logo{
        width: 50px;
        margin-left: 30px;
    }
    .home{
        font-size: 20px;
        position: relative;
        left: 200px;
        bottom: 50px;
    }
    .region{
        font-size: 20px;
        position: relative;
        left: 200px;
        bottom: 50px;
    }
    .about{
        font-size: 20px;
        position: relative;
        left: 200px;
        bottom: 50px;
    }
    .menu{
        width: 50px;
        position: relative;
        left: 300px;
        bottom: 100px;
    }
    .sahara{
        font-size: 50px;
    }
    .main{
        margin-left: 30px;
        position: relative;
        bottom: 100px;
    }
    .explore{
        margin-left: 30px;
        position: relative;
        bottom: 100px;
    }
    .img1{
        width: 300px;
        height: 200px;
        position: relative;
        left: 20px;
        top: 0px;
    }
    .img2{
        width: 300px;
        height: 200px;
        position: relative;
        left: 20px;
        top: 50px;
    }
    .img3{
        width: 300px;
        height: 200px;
        position: relative;
        left: 20px;
        top: 100px;
    }
    .img4{
        width: 300px;
        height: 200px;
        position: relative;
        left: 20px;
        top: 150px;
    }
}

@media screen and (min-width:640px) and (max-width:860px){
    .logo{
        width: 90px;
    }
    .home{
        position: relative;
        left: 500px;
    }
    .region{
        position: relative;
        left: 600px;
    }
    .about{
        position: relative;
        ;left: 700px;
    }
    .menu{
        position: relative;
        left: 800px;
    }
    .main{
        position: relative;
        bottom: 100px;
    }
    .br{
        display: none;
    }
    .explore{
        position: relative;
        bottom: 100px;
    }
    .img1{
        width: 500px;
        height: 300px;
        position: relative;
        left: 150px;
        top: 0px;
    }
    .img2{
        width: 500px;
        height: 300px;
        position: relative;
        left: 150px;
        top: 100px;
    }
    .img3{
        width: 500px;
        height: 300px;
        position: relative;
        left: 150px;
        top: 200px;
    }
    .img4{
        width: 500px;
        height: 300px;
        position: relative;
        left: 150px;
        top: 300px;
    }

}